body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(223, 173, 138);
}
.container
{
    width: 23%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(173, 151, 117);
    margin-top: 140px;
    border-radius: 7px;
}
